{% extends "index/base.html" %}
{% block mainbody %}
<script type="text/javascript">$("#preprocess").addClass('active');</script>
<div class="container theme-showcase" role="main">
    <div align="center">

    </div>
    <form action="../preprocess/" method="post">
        {% csrf_token %}
        <div align="center">
            <input type="text" name="label" style="width: 100%" class="font" placeholder="输入标签以获取边界词（仅选择“获取边界词”选项时使用）">
            <br>
            <br>
            <textarea name="f_i" style="height: 25%" class="font textarea" placeholder="输入语句">{{ return_f_i }}</textarea>
            <br>
            <br>
            <label class="checkbox-inline">
              <input type="radio" name="mode" id="m1" value="m1" checked><span class="font">获取边界词</span>
            </label>
            <label class="checkbox-inline">
              <input type="radio" name="mode" id="m2" value="m2"><span class="font">分离词和词性</span>
            </label>
            <label class="checkbox-inline">
              <input type="radio" name="mode" id="m3" value="m3"><span class="font">词拆成字并打上字序标签</span>
            </label>
        </div>
        <div align="center" style="margin-top: 10px">
            <input type="submit" class="font btn btn-primary btn-lg" value=" ↓预处理↓ ">
        </div>
    </form>
    <div class="page-header">
        <h3>预处理结果：</h3>
    </div>
    <textarea style="height: 25%" class="font textarea" readonly="true">{{ preprocess_result }}</textarea>
    <br>
</div>
{% endblock %}