{% extends "index/base.html" %}
{% block mainbody %}
<script type="text/javascript">$("#presentation").addClass('active');</script>
<div class="col-md-2" style="position: fixed;">
    <div class="panel-group table-responsive" role="tablist">
        <div class="panel panel-primary leftMenu">
            <!-- 利用data-target指定要折叠的分组列表 -->
            <div style="background: #000000;opacity: 0.75;" class="panel-heading" id="collapseListGroupHeading1" data-toggle="collapse" data-target="#collapseListGroup1" role="tab" >
                <h4 class="panel-title">
                    分词算法对比
                </h4>
            </div>
            <!-- .panel-collapse和.collapse标明折叠元素 .in表示要显示出来 -->
            <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseListGroupHeading1">
                <ul class="list-group">
                  <li class="list-group-item">
                    <!-- 利用data-target指定URL -->
                    <span class="glyphicon glyphicon-triangle-right"></span><a class="a-color" href="#">98年人民日报分词性能对比</a>
                  </li>
                </ul>
            </div>
        </div><!--panel end-->
        <div class="panel panel-primary leftMenu">
            <div style="background: #000000;opacity: 0.75;" class="panel-heading" id="collapseListGroupHeading2" data-toggle="collapse" data-target="#collapseListGroup2" role="tab" >
                <h4 class="panel-title">
                    专名识别简易对照组性能对比
                </h4>
            </div>
            <div id="collapseListGroup2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading2">
                <ul class="list-group">
                  <li class="list-group-item">
                    <button class="menu-item-left">
                        <span class="glyphicon glyphicon-triangle-right"></span><a class="a-color" href="#loc_crf_ner">地名对照组</a>
                    </button>
                  </li>
                  <li class="list-group-item">
                    <button class="menu-item-left">
                        <span class="glyphicon glyphicon-triangle-right"></span><a class="a-color" href="#org_crf_ner">机构名对照组</a>
                    </button>
                  </li>
                  <li class="list-group-item">
                    <button class="menu-item-left">
                        <span class="glyphicon glyphicon-triangle-right"></span><a class="a-color" href="#per_crf_ner">人名对照组</a>
                    </button>
                  </li>
                  <li class="list-group-item">
                    <button class="menu-item-left">
                        <span class="glyphicon glyphicon-triangle-right"></span><a class="a-color" href="#one_crf_ner">其他专名对照组</a>
                    </button>
                  </li>
                </ul>
            </div>
        </div>  
    </div>
</div>
{% include "presentation/naive_eval.html" %}
{% endblock %}